<!DOCTYPE html>
<html lang="en">
<head>
    <title>BoJo</title>

    <meta charset="utf-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body>
<div class="wrapper">
    <header>
        <h1>
            <a class="hvr-buzz-out" href="/" title="BoJo AI - Api & web archive for the dumbest things Boris Johnson has ever said.">
                <img alt="BoJo AI - Api & web archive for the dumbest things Boris Johnson has ever said." src="/img/bojo_850x850.jpg"/>
            </a>
        </h1>
    </header>
    <div id="content" layout:fragment="content"/>
    <footer>
        <hr>
        <small>bojo.ai - Api & web archive for the dumbest things Boris Johnson has ever said.</small>
        <small>
            <a rel="nofollow" href="/privacy">Privacy Statement</a>
            <a href="mailto:m@matchilling.com">Contact</a>
        </small>
        <a class="btn small twitter" href="https://twitter.com/MatChilling" target="_blank"><i></i><span>Twitter</span></a>
        <a class="btn small github" href="https://github.com/bojo-ai" target="_blank"><i></i><span>GitHub</span></a>
        <a class="btn small homepage" href="https://www.matchilling.com" target="_blank" title="Mathias Schilling"><i></i><span></span></a>
        <small>
            <b>Legal disclaimer:</b> This website and its creators are not affiliated with Boris Johnson or any
            affiliated corporation. All products, and brands mentioned on this website are the respective trademarks and
            copyrights of their owners.
        </small>
    </footer>
</div>

</body>

</html>