<!DOCTYPE html>
<html lang="en">
<head>
    <title>BoJo</title>

    <meta charset="utf-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>
</head>
<body class="markdown font-sans text-black antialiased leading-tight bg-grey-lighter">
<div class="w-1/3 m-auto">
    <header>
        <h1>
            <a class="flex justify-center" href="/"
               title="BoJo AI - Api & web archive for the dumbest things Boris Johnson has ever said.">
                <img alt="BoJo AI - Api & web archive for the dumbest things Boris Johnson has ever said." class="h-64"
                     src="/img/bojo_850x850.jpg"/>
            </a>
        </h1>
    </header>
    <div id="content" layout:fragment="content"/>
    <hr>
    <footer class="w-1/2 m-auto mt-6 mb-16 text-center">
        <p class="font-light text-sm text-gray-500 mt-5">bojo.ai - Api & web archive for the dumbest things Boris Johnson has ever said.</p>
        <p class="text-sm text-gray-500 mt-5 uppercase">
            <a href="https://www.instagram.com/bojo.ai/" target="_blank">Instagram</a>
            <a href="https://twitter.com/MatChilling" target="_blank">Twitter</a><br />
            <a href="https://github.com/bojo-ai" target="_blank">GitHub</a>
            <a href="https://www.matchilling.com" target="_blank" title="Mathias Schilling">Contact</a>
        </p>
        </p>
        <p class="font-light text-sm text-gray-500 mt-5">
            Legal disclaimer: This website and its creators are not affiliated with Boris Johnson or any
            affiliated corporation. All products, and brands mentioned on this website are the respective trademarks and
            copyrights of their owners.
        </p>
        <p class="font-light text-sm text-gray-500 mt-5">
            <a rel="nofollow" href="/privacy">Privacy Statement</a>
        </p>
    </footer>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-154637926-1', 'auto');
    ga('send', 'pageview');
</script>

</body>

</html>