<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="'Search for: ' + ${query}"/>
    <meta name="description" th:attr="content='Search for: ' + ${query}"/>
    <link th:href='${model.getLink("self").get().href}' rel="canonical"/>
</head>
<body>
<div layout:fragment="content">
    <section class="mt-6 mb-4 w-full">
        <div th:replace="fragment/search.html"/>
        <p id="search-result-total" class="mt-2 text-sm text-center">
            <span th:if='${!page.content.isEmpty()}' th:text="${model.total} + ' results'"/>
            <span th:if='${page.content.isEmpty()}'>Sorry, no results found</span>
        </p>
    </section>
    <section id="search-result-list" class="mt-16 mb-16">
        <div th:replace="fragment/list :: list(${page})"/>
    </section>
    <nav class="mb-16" th:if='${!page.content.isEmpty()}'>
        <a class="border rounded inline-block text-sm px-4 py-2" th:if='${model.getLink("prev").isPresent()}' th:href='${model.getLink("prev").get().href}'>Prev</a>
        <a class="border rounded inline-block text-sm px-4 py-2" th:if='${model.getLink("next").isPresent()}' th:href='${model.getLink("next").get().href}'>Next</a>
    </nav>
</div>
</body>
</html>