<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="'What Boris Johnson thinks about ' + ${tag.value}"/>
    <meta name="description" th:attr="content='What Boris Johnson thinks about ' + ${tag.value}"/>
    <link th:href="'/tag/' + ${tag.value}" rel="canonical"/>
</head>
<body>
<div layout:fragment="content">
    <section class="mt-16 mb-16">
        <h1 class="text-xl text-center">What Boris Johnson thinks about: <span class="font-semibold" th:text="${tag.value}"/></h1>
    </section>
    <section class="mt-16 mb-16" th:each="quote : ${tag.quotes}">
        <div th:replace="fragment/quote.html :: quote(${quote})"/>
    </section>
</div>
</body>
</html>